@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=PT+Sans+Caption:wght@700&display=swap');

$navbar-height: 4.5rem;
$primary: #3a79d9;
$info: #d93a79;
$navbar-item-hover-color: $primary;
$navbar-item-img-max-height: 4.5rem;

@import '../../node_modules/bulma/bulma.sass';

.avatar {
  width: 220px;

  @include mobile {
    width: 140px;
  }

  border-radius: 50%;
}

.avatar-mini {
  width: 75px;

  @include mobile {
    width: 65px;
  }

  border-radius: 50%;
}

.skillset .box {
  border: 0.5px solid lightgray;
  padding: 12px;
}

.skillset {
  margin-top: -10rem;
}

.skill-column {
  padding: 2rem;
}

.skill-column .skill-title {
  margin-top: 50px;
  margin-bottom: 8px;
}

.skillset .column:first-child {
  @include mobile {
    border-bottom: 0.5px solid lightgray;
  }
  @include tablet {
    border-right: 0.5px solid lightgray;
  }
}

.skillset .column:last-child {
  @include mobile {
    border-top: 0.5px solid lightgray;
  }
  @include tablet {
    border-left: 0.5px solid lightgray;
  }
}

.is-extended .container {
  margin-bottom: 6rem;
}

.testimonials .box {
  border: 0.5px solid lightgray;
  padding: 12px;
}

.testimonial-column {
  padding: 3rem;
}

.testimonials .column:first-child {
  margin-right: 0;
}

.testimonials .column:last-child {
  margin-left: 0;
}

.testimonials .column:first-child {
  border-right: 0.5px solid lightgray;
}

.title-font {
  font-family: 'PT Sans Caption', sans-serif;
}

* {
  font-family: 'Instrument Sans', sans-serif;
}

.description-box {
  line-height: 30px;
}

.navbar-brand {
  padding-left: 10px;
}

.icon-circle {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  box-shadow: none;
}

.logo {
  @include mobile {
    width: 40px;
  }
  width: 50px;
}

.logo-footer {
  width: 70px;
}

.msg-btn {
  border: 2px solid $primary;
}

.experience-card {
  box-shadow: none;
}

.line {
  width: 3px;
  height: 75px;
  background: $info;
  margin: auto;
}

.experience-columns {
  margin-top: 3rem;
}

.resume-box {
  padding-bottom: 5rem;
}

.project-card-content {
  height: 200px;
}
